body {
  background: #fffff8;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100vh, 100%);
  align-items: center;
  justify-items: center;
  background-image: url('./images/stars-bckg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}

#app {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: 700px;
  color: #ffffff;
  justify-content: center;
  grid-gap: 2rem;
  font-size: 20px;
  padding: 40px;
  background-image: linear-gradient(180deg, #91daf7, #059cd8);
  border-radius: 20px;
  margin: 40px;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: #1b3f81;
}

.feel {
  text-align: center;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  padding-left: 5px;
  text-align: left;
}

input {
  display: block;
  height: 60px;
  width: 90%;
  /* background: #22b2da; */
  color: #1b3f81;
  font-size: 20px;
  /* font-family: 'Oswald', sans-serif; */
  border: none;
  border-radius: 8px;
  padding: 0 30px;
  margin: 0 auto;
}

textarea {
  /* background: #22b2da; */
  color: #1b3f81;
  font-size: 20px;
  /* font-family: 'Oswald', sans-serif; */
  height: 25px;
  width: 90%;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  border-radius: 8px;
  padding: 20px 30px;
}

button {
  display: block;
  width: 150px;
  height: 60px;
  background: #3b4a6b;
  color: #fff;
  font-size: 1.3rem;
  /* font-family: 'Oswald', sans-serif; */
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 5px #2c3852;
  margin-top: 1.4rem;
  cursor: pointer;
}

button:hover {
  background: #435375;
}

#error-message {
  color: #d61414;
  text-align: left;
  margin-bottom: 0;
}

.entry {
  display: none;
}

.entry-show {
  display: block;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  padding-left: 5px;
  text-align: left;
}

#entryHolder {
  color: #1b3f81;
  background: #fff;
  border-radius: 8px;
  padding: 20px 30px;
  height: 300px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 35% 50% 15%;
  grid-template-rows: 15% 70% 15%;
  grid-auto-flow: column;
}

#city {
  grid-column: 1 / 4;
  justify-self: center;
  border-bottom: solid 1px #73c7fc;
}

#city h2 {
  margin: 0;
}

#description-weather {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: left;
  font-style: italic;
  color: #73c7fc;
}

#weather-icon {
  float: right;
  width: 75%;
}

#date {
  font-size: 1rem;
  align-self: end;
  color: #73c7fc;
}

.temperatures {
  display: flex;
  flex-direction: row;
  justify-self: start;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#temp {
  display: flex;
  flex-direction: row;
}

#temp h1 {
  font-size: 9rem;
  margin: 0;
  line-height: 0.8;
}

#temp span {
  font-size: 2rem;
}

.temp-min-max {
  align-self: center;
  margin-left: 15px;
  font-size: 1rem;
  color: #73c7fc;
}

.temp-min-max #temp-max {
  margin-bottom: 10px;
}

.humidity-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #73c7fc;
}

.humidity-icon {
  width: 30px;
  margin-right: 2px;
}

.content-ctn {
  display: flex;
  align-items: flex-end;
}

.person-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

#content {
  text-align: left;
  font-size: 1.2rem;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #8b8b8b;
  /* font-family: 'Oswald', sans-serif; */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8b8b8b;
  /* font-family: 'Oswald', sans-serif; */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8b8b8b;
  /* font-family: 'Oswald', sans-serif; */
}
