body {
  background: #fffff8;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
  background: #f23557;
}

#app {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: 700px;
  /* height: 100vh; */
  color: #ffffff;
  justify-content: center;
  grid-gap: 2rem;
  font-size: 20px;
  /* font-family: 'Oswald', sans-serif; */
  padding: 40px;
  border: solid 3px #f05470;
  border-radius: 20px;
}

.holder {
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.feel {
  text-align: center;
}

#date {
}

#temp {
}

#content {
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  padding-left: 5px;
  text-align: left;
}

input {
  display: block;
  height: 60px;
  width: 90%;
  /* background: #22b2da; */
  color: #1b3f81;
  font-size: 20px;
  /* font-family: 'Oswald', sans-serif; */
  border: none;
  border-radius: 8px;
  padding: 0 30px;
  margin: 0 auto;
}

textarea {
  /* background: #22b2da; */
  color: #1b3f81;
  font-size: 20px;
  /* font-family: 'Oswald', sans-serif; */
  height: 25px;
  width: 90%;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  border-radius: 8px;
  padding: 20px 30px;
}

button {
  display: block;
  width: 150px;
  height: 60px;
  background: #3b4a6b;
  color: #fff;
  font-size: 1.3rem;
  /* font-family: 'Oswald', sans-serif; */
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 5px #2c3852;
  margin-top: 1.4rem;
  cursor: pointer;
}

button:hover {
  background: #435375;
}

.entry {
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  padding-left: 5px;
  text-align: left;
}

#entryHolder {
  color: #1b3f81;
  background: #fff;
  border-radius: 8px;
  padding: 20px 30px;
  height: 300px;
}

span {
  font-size: 1rem;
  vertical-align: 4px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #8b8b8b;
  /* font-family: 'Oswald', sans-serif; */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8b8b8b;
  /* font-family: 'Oswald', sans-serif; */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8b8b8b;
  /* font-family: 'Oswald', sans-serif; */
}
